@import 'nativescript-theme-core/scss/light';
@import 'nativescript-theme-core/scss/index';

Button {
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
  text-transform: capitalize;
  android-elevation: 0;
  android-dynamic-elevation-offset: 0;
  padding: 0;
  margin: 0;
}
.describe {
  color: #ababab;
  font-size: 13;
  margin-top: 25;
  margin-bottom: 10;
}

.label-marquee {
  font-size: 18;

  &.larger {
    font-size: 24;

    &.colored {
      color: purple;
      font-size: 26;
    }
  }
}

.action-bar {
  background-color: #333;
  color: white;
}

/* coachmarks */
.msg {
  color: #000;
  horizontal-align: center;
  padding:20;
  font-size:30;
}

.msg2 {
  background-color:#7C3FE8;
  border-radius: 39;
  width:78;
  color:#fff;
  padding:30;
  text-align: center;
}

.msg3 {
  margin-top:50;
}

.msg4 {
  margin-top:100;
  font-size:18;
}

.ion {
  font-family: 'Ionicons', 'ionicons';
  font-weight: 400;
  vertical-align: middle;
  font-size: 30;
}

.fa {
  font-family: 'FontAwesome', 'fontawesome-webfont';
  font-weight: 400;
  font-size: 30;
}

.v-center, .v-middle, .align-middle {
  vertical-align: middle;
}

.v-top, .align-top {
  vertical-align: top;
}

.h-right {
  horizontal-align: right;
}
.blue-top {
  background: linear-gradient(to bottom, #3145e0 70%, rgba(49, 69, 224, 0));
}

.bg-sky {
  background-color: #3145e0;
}
