/* Resets */
* {
	/* @apply font-normal; */
	font-weight: normal;
	/* horizontal-alignment: 'left'; */
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

Label {
	/* @apply align-top; */
	vertical-align: middle;
}

/**
  *   1. set a default size for the ActivityIndicator to be similar on ios/android
  */
ActivityIndicator {
	/* @apply h-6 w-6; /* 1 */
	height: 24;
	width: 24;
}

Button {
	/* @apply rounded-none border-0 bg-transparent normal-case; */
	border-radius: 0;
	border-width: 0;
	background: transparent;
	text-transform: capitalize;
	min-width: 0;
	min-height: 0;
	android-elevation: 0;
	android-dynamic-elevation-offset: 0;
}

TextField,
TextView {
	/* @apply bg-transparent text-base; */
	background-color: transparent;
	font-size: 16;
	placeholder-color: rgb(142, 142, 142); /*theme('colors.gray.400');*/
}
/* END Resets */

@tailwind base;
@tailwind components;
@tailwind utilities;

Button {
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
  text-transform: capitalize;
  android-elevation: 0;
  android-dynamic-elevation-offset: 0;
  padding: 0;
  margin: 0;
}
.describe {
  color: #ababab;
  font-size: 13;
  margin-top: 25;
  margin-bottom: 10;
}

.label-marquee.larger {
  font-size: 24;
}
.label-marquee.larger.colored {
  color: purple;
  font-size: 26;
}

.h2 {
  font-weight: 600;
}

.action-bar {
  background-color: #333;
  color: white;
}

/* coachmarks */
.msg {
  color: #000;
  horizontal-align: center;
  padding: 20;
  font-size: 30;
}

.msg2 {
  background-color: #7c3fe8;
  border-radius: 39;
  width: 78;
  color: #fff;
  padding: 30;
  text-align: center;
}

.msg3 {
  margin-top: 50;
}

.msg4 {
  margin-top: 100;
  font-size: 18;
}

.ion {
  font-family: 'Ionicons', 'ionicons';
  font-weight: 400;
  vertical-align: middle;
  font-size: 30;
}

.fa {
  font-family: 'FontAwesome', 'fontawesome-webfont';
  font-weight: 400;
  font-size: 30;
}

.blue-top {
  background: linear-gradient(to bottom, #3145e0 70%, rgba(49, 69, 224, 0));
}

.bg-sky {
  background-color: #3145e0;
}

ParallaxView {
  margin-top: -20;
}

#headerLabel2 {
  font-size: 20;
  horizontal-align: center;
  color: #b2ebf2;
  margin-top: 20;
}
#headerLabel {
  font-size: 40;
  horizontal-align: center;
  color: #b2ebf2;
  margin-top: 20;
}
.header-template {
  background-color: #212121;
  background-image: url('~/images/mountains.png');
  background-size: cover;
  background-position: center center;
  height: 200;
}
.body-template {
  font-size: 20;
  padding: 15;
}
.anchor {
  height: 70;
  width: 100%;
  background-color: #1770de;
}

.anchor Label {
  vertical-align: center;
}

.header {
  font-size: 25;
  color: #a0a0a0;
  margin-bottom: 20;
  margin-top: 5;
}

#titleLabel {
  font-weight: bold;
  font-size: 25;
  padding: 5 15;
  color: #fff;
}

.rounded {
  border-radius: 20;
}
