@import 'nativescript-theme-core/scss/light';
@import 'nativescript-theme-core/scss/index';

.describe {
    color: #ababab;
    font-size: 13;
    margin-top: 25;
    margin-bottom: 10;
}

.label-marquee {
    font-size: 18;

    &.larger {
        font-size: 24;

        &.colored {
            color: purple;
            font-size: 26;
        }
    }
}