.horizontal-heading-divider {
    width: 1;
    background-color: rgb(203, 203, 203);
}

.cell {
    height:45;
    vertical-align: center;
    horizontal-align: center;
    width: 100%;
    padding-left: 3;
}

.cell-height {
    height: 45;
}

.white-cell {
    background-color: white;
}

.light-grey-cell {
    background-color: rgb(248, 248, 248);
}