<ActionBar title="ui-collectionview-sean" class="action-bar"> </ActionBar>

<StackLayout>

  <StackLayout (tap)="addPlayers()" class="button-container">
    <Button [text]="generatePlayers" class="button"></Button>
  </StackLayout>
    <GridLayout columns="60 1 *" rows="54 *">
      <StackLayout row="0" col="0" class="table-header" (tap)="sortTableById()">
        <Label #idHeader class="headerLabel" [text]="id"></Label>
      </StackLayout>
      <StackLayout row="0" col="1" width="1" class="horizontal-heading-divider"></StackLayout>

      <StackLayout row="0" col="2">
        <ScrollView #tableMainHeadings
          orientation="horizontal"
          (scroll)="onScrollHorizontallyHeadings($event)"
          (loaded)="doLoadedRemoveBandingAnimation($event)"
        >
            <GridLayout columns="180 1 200 1 180 1 160 1 110 1 90 1 80">

              <StackLayout class="table-header" col="0">
                <Label text="Name"></Label>
              </StackLayout>
              <StackLayout class="table-header" col="2">
                <Label text="Position"></Label>
              </StackLayout>
              <StackLayout class="table-header" col="4">
                <Label text="Height"></Label>
              </StackLayout>
              <StackLayout class="table-header" col="6">
                <Label text="Nationality"></Label>
              </StackLayout>
              <StackLayout class="table-header" col="8">
                <Label text="Date of Birth"></Label>
              </StackLayout>
              <StackLayout class="table-header" col="10">
                <Label text="Goals"></Label>
              </StackLayout>
              <StackLayout class="table-header" col="12">
                <Label text="Assists"></Label>
              </StackLayout>
            </GridLayout>
        </ScrollView>
      </StackLayout>

      <!-- Ids -->
      <CollectionView #ids row="1" col="0" [items]="itemsOnScreen"
        isAnimationEnabled="false"
        (scroll)="onScrollVertically($event)"
        (loaded)="doLoadedRemoveBandingAnimation($event)"
      >
        <ng-template let-item="item" let-odd="odd">
          <StackLayout class="cell-height">
            <StackLayout class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
              <Label class="jumbo-text" [text]="item.id"></Label>
            </StackLayout>

          </StackLayout>
        </ng-template>
      </CollectionView>

      <StackLayout row="1" col="1" width="1" class="horizontal-heading-divider"></StackLayout>


      <!-- Main table body -->
      <ScrollView row="1" col="2" #tableMainBody 
        orientation="horizontal" 
        (scroll)="onScrollHorizontallyMain($event)"
        (loaded)="doLoadedRemoveBandingAnimation($event)"
      >

        <CollectionView #main backgroundColor="white" [items]="itemsOnScreen" width="1006"
          isAnimationEnabled="false"
          (scroll)="onScrollVertically($event)"
          (loaded)="doLoadedRemoveBandingAnimation($event)"
          (loadMoreItems)="loadMoreRows()"
          [itemTemplateSelector]="onTemplateSelector"
        >
          <ng-template let-item="item" cvTemplateKey="default">
          </ng-template>
          <ng-template cvTemplateKey="goalkeeper" let-item="item" let-odd="odd" let-i="index">
            <GridLayout columns="180 1 200 1 180 1 160 1 110 1 90 1 80">

              <StackLayout col="0" [nsRouterLink]="['/item', item.id]" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.name"></Label>
              </StackLayout>

              <StackLayout col="1" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="2" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.position"></Label>
              </StackLayout>

              <StackLayout col="3" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="4" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.height"></Label>
              </StackLayout>

              <StackLayout col="5" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="6" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.nationality"></Label>
              </StackLayout>

              <StackLayout col="7" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="8" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.dob"></Label>
              </StackLayout>

              <StackLayout col="9" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="10" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.goals"></Label>
              </StackLayout>

              <StackLayout col="11" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="12" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.assists"></Label>
              </StackLayout>

            </GridLayout>
          </ng-template>
          <ng-template cvTemplateKey="defender" let-item="item" let-odd="odd" let-i="index">
            <GridLayout columns="180 1 200 1 180 1 160 1 110 1 90 1 80">

              <StackLayout col="0" [nsRouterLink]="['/item', item.id]" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.name"></Label>
              </StackLayout>

              <StackLayout col="1" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="2" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.position"></Label>
              </StackLayout>

              <StackLayout col="3" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="4" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.height"></Label>
              </StackLayout>

              <StackLayout col="5" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="6" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.nationality"></Label>
              </StackLayout>

              <StackLayout col="7" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="8" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.dob"></Label>
              </StackLayout>

              <StackLayout col="9" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="10" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.goals"></Label>
              </StackLayout>

              <StackLayout col="11" class="horizontal-heading-divider"></StackLayout>

              <StackLayout col="12" class="cell" [class.light-grey-cell]="odd" [class.white-cell]="!odd">
                <Label [text]="item.assists"></Label>
              </StackLayout>

            </GridLayout>
          </ng-template>
        </CollectionView>
      </ScrollView>
    </GridLayout>
</StackLayout>


